<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @group.private %>
</p>



<% if logged_in? %>
<% unless current_user.follows?(@group) %>
<%= link_to( "Zapisz się do grupy", action: :follow) %>
<% else %>
<%= link_to( "Wypisz się z grupy", action: :unfollow) %>
<% end %>
<% end %>




<hr>
<h1>Zapisani użytkownicy</h1>
<ul>
<% @group.users.each do |user| %>
<li><%= link_to user.login, user %></li>
<% end %>




<h1>Lista postów</h1>
<% if @group.posts.length == 0 %>
Nie ma żadnego postu
<% else %>
<% @group.posts.each do |post| %>
<%= link_to [@group, post] do %>
<h4><%= post.body %> by <%= post.user.login %></h4>
<% end %>
<% post.comments.each do |comment| %>
<p>
<%= comment.body %>
</p>
<h6>by <%= comment.user.login %></h6>
<% end %>
<% end %>
<% end %>
<hr>
<% if logged_in? && current_user.follows?(@group) %>
<%= link_to "Dodaj post", new_group_post_path(@group) %>
<% end %>

<p>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
