<p id="notice"><%= notice %></p>
<h1><%= @post.body %> by <%= link_to @post.user.login, @post.user %></h1>
<h2><%= link_to @group.name, @group %></h2>
<hr>
<h1>Lista odpowiedzi</h1>
<% if @post.comments.length == 0 %>
Nie ma żadnych odpowiedzi
<% else %>
<ul>
<% @post.comments.each do |comment| %>
<li>
  <strong><%= comment.user.login %> pisze:</strong> <%= comment.body %>
  </li>
  <% end %>
  </ul>
  <% end %>
  <hr>
  <% if logged_in? && current_user.follows?(@group) %>
  <%= link_to "Dodaj odpowiedź", new_group_post_comment_path(@group,@post) %>
  <% end %>
  <hr>
  <%= link_to 'Edit', edit_group_post_path(@group, @post) %> |
  <%= link_to 'Back', @group %>
