<!DOCTYPE html>
<html>
  <head>
    <title>Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<ul>
<li><%= link_to "Strona główna", root_path %></li>
<li><%= link_to "Grupy", groups_path %></li>
<li><%= link_to "Użytkownicy", users_path %></li>

<% if logged_in? %>
Zalogowany jako <%= current_user.login %>
<%= link_to "Profil", current_user %>
<%= link_to "Wyloguj", logout_path, method: :delete %>
<% else %>
<%= link_to "Zaloguj", login_path %>
<% end %>
</ul>
